@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/*  NOTE:: Montserrat for title and for text is baskerville 

    font-family: 'Montserrat', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Roboto', sans-serif;

*/

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 18px;
    font-family: 'Baskervville', sans-serif;
}

/* ============== 
    typography
   ==============
*/

.site-title h1{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
}
.subtitle{
    font-weight: 700;
    font-size: 0.75rem;
    color: #fff;
    margin: 0;
}
.home-title{
    font-family: 'Roboto', sans-serif;
    color: #fde02b;
    font-weight: 700;
    font-size: 3em;
    margin-top: 10vh;
    
}
.home-sub-title{
    font-family: 'Roboto', sans-serif;
    color: #fde02b;
    font-weight: 700;
    font-size: 3em;
    margin: 0;
    
}
.home-container{
    display: block;
    text-align: center;
    width: 100%;
    
}
.ojt-text{
    font-family: 'Roboto', sans-serif;
    color: #fde02b;
    padding-top: 50px;
    font-size: 2rem;
}
.citu-text{
    font-family: 'Roboto', sans-serif;
    color: #fde02b;
    font-weight: 300;
    padding-top: 0px;
    font-size: 1.5rem;
}
.date-text{
    font-family: 'Roboto', sans-serif;
    color: #fde02b;
    font-weight: 300;
    padding-top: 30px;
    font-size: 1.5rem;
}
.submitted-text{
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #fde02b;
    font-size: 1em;
    padding-top: 40px;
}
.name-text{
    font-family: 'Roboto', sans-serif;
    color: #fde02b;
    font-weight: 300;
    padding-top: 10px;
    font-size: 1.5rem;

}
/* ============== 
    Layout
   ==============
*/
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
   
}
.container-nav{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}


header{
    padding: 2em 0;
    
    
}

@media(max-width: 675px){
    .container-nav{
        flex-direction: column;
    }
    header{
        text-align: center;
    }
}
/* NAVIGATION */
.nav-list{ 
    list-style: none;
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    
}
.nav-list-items{
    margin-left: 2em;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    padding: .25em 0;
    color: #fff;
}
.nav-link:hover{
    color: #fde02b;
}
.current-page{
    border-bottom: 1px solid #fde02b;
    padding: .25em;
}
@media(max-width: 675px){
    .nav-list{
        flex-direction: column;
    }
    .nav-list-items{
        margin: .5em 0;
    }
}














#particles-js {
    width: 100%;
    height: 100%;
    background: #74291e;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: -1;
  }